:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: inherit;
    background-color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overscroll-behavior: none;
}

.speech-bubble {
    --arrow-w: 0.5em;
    --arrow-h: 1em;
    --bubble-corners: 0;
    --border-size: 3px;
    --text-color: black;
    --bubble-color: #fecc31;
    --border-color: transparent;
}

.speech-bubble {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
    background: var(--bubble-color);
    padding: 1em;
    position: relative;
    border-radius: var(--bubble-corners);
}

.speech-bubble.round {
    --bubble-corners: 1.5em;
}

.speech-bubble:before,
.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: calc(-1 * var(--arrow-h) * 2 + 0.5px);
    left: 20%;
    border-style: solid;
    border-width: var(--arrow-h) var(--arrow-w);
    border-color: var(--bubble-color) transparent transparent;
}

.speech-bubble:before {
    border-width: calc(var(--arrow-h) + var(--border-size)) calc(var(--arrow-w) + var(--border-size));
    border-color: var(--border-color) transparent transparent;
    bottom: calc(-1 * var(--arrow-h) * 2 - 2.5 * var(--border-size));
    left: calc(50% - var(--border-size));
}

.MuiSvgIcon-fontSizeLarge {
    font-size: 4rem !important;
}

.MuiSvgIcon-fontSizeMedium {
    font-size: 2rem !important;
}
