:root {
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overscroll-behavior: none;
}

.speech-bubble {
    --arrow-w: 0.5em;
    --arrow-h: 1em;
    --bubble-corners: 0;
    --w: 12em;
    --border-size: 3px;
    --text-color: black;
    --bubble-color: white;
    --border-color: black;
}
.speech-bubble {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: var(--text-color);
    background: var(--bubble-color);
    padding: 1em;
    position: relative;
    border-radius: var(--bubble-corners);
    max-width: var(--w);
    box-shadow: 0 0 0 var(--border-size) var(--border-color);
}

.speech-bubble.round {
    --bubble-corners: 1em;
}

.speech-bubble.round {
    --bubble-corners: 1em;
}

.speech-bubble:before,
.speech-bubble:after {
    content: '';
    position: absolute;
    bottom: calc(-1 * var(--arrow-h) * 2 + 0.5px);
    left: 50%;
    border-style: solid;
    border-width: var(--arrow-h) var(--arrow-w);
    border-color: var(--bubble-color) transparent transparent;
}

.speech-bubble:before {
    border-width: calc(var(--arrow-h) + var(--border-size))
        calc(var(--arrow-w) + var(--border-size));
    border-color: var(--border-color) transparent transparent;
    bottom: calc(-1 * var(--arrow-h) * 2 - 2.5 * var(--border-size));
    left: calc(50% - var(--border-size));
}
